<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cxyhome.webmagic.mapper.TrademarkMapper">


        <select id="getTrademarkById" resultType="Trademark">
          select  * from tb_trademark where id = ${id};
         </select>



        <insert id="insertInfo" parameterType="Info">
          insert  into tm_info(id,mid,img_addr,mark,serial_number,classification_info,registration_number,filing_date,international_classes,
          applicant_name,applicant_name_en,applicant_address,applicant_address_en,first_publication_number,published_opposition_date,
          registration_publication_number,registration_date,multiple_owners,register_type,possession_term_start,possession_term_end,mark_type,
          international_registration_date,late_specified_date,priority_date,correspondent,brand_status)
          values (null ,null ,#{info.imgAddr},#{info.mark},#{info.serialNumber},#{info.classificationInfo},#{info.registrationNumber},#{info.filingDate},#{info.internationalClasses}
          ,#{info.applicantName},#{info.applicantNameEn},#{info.applicantAddress},#{info.applicantAddressEn},#{info.firstPublicationNumber},#{info.publishedOppositionDate}
          ,#{info.registrationPublicationNumber},#{info.registrationDate} ,#{info.multipleOwners},#{info.registerType} ,#{info.possessionTermStart},#{info.possessionTermEnd} ,#{info.markType}
          ,#{info.internationalRegistrationDate},#{info.lateSpecifiedDate},#{info.priorityDate},#{info.correspondent},#{info.brandStatus});
        </insert>

        <!-- 类似群信息 -->
        <insert id="insertClassificationInfo" parameterType="ClassificationInfo">
            insert  into tm_classification_info(id,product_name,international_classes)
            values (#{classificationInfo.id},#{classificationInfo.productName},#{classificationInfo.internationalClasses});
        </insert>

        <!-- 国际分类编号 -->
        <insert id="insertInternationalClasses" parameterType="InternationalClasses">
          insert into tm_international_classes(id,description)
          values (#{internationalClasses.id},#{internationalClasses.description});
        </insert>

        <!-- 商标状态表 -->
        <insert id="insertProcessState" parameterType="ProcessState">
           insert into tm_process_state(id,mark,serial_number,international_classes,brand_process_state)
           values (null ,#{processState.mark},#{processState.serialNumber},#{processState.internationalClasses},#{processState.brandProcessState});
        </insert>



        <insert id="insertToTrademark" parameterType="Trademark">
            insert into tb_trademark_test
            values (null ,#{trademark.id},#{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number},2,
            #{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number},
            #{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number},#{trademark.number}, #{trademark.number}
            )
        </insert>

    <insert id="insertCategory" parameterType="TradeClassify">
    INSERT into tm_category
    VALUES(#{tradeClassify.id},#{tradeClassify.shortDesc},null);
    </insert>


</mapper>